.container {
    width: 500px;
    align-content: center;
}

/* Minesweeper grid is 10 x 10. Each square will be 40px for its height and width. */
.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #CFCFC4;
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid #CFCFC4;
    margin-bottom: 10px;
}

.grid div {
    height: 40px;
    width: 40px;
}

.checked {
    background-color: #FFFFD8;
}

.bomb {
}

.one {
    color: #B5EAD7;
  }
  
  .two {
    color: #C7CEEA;
  }
  
  .three {
    color: #FFDAC1;
  }
  
  .four{
    color: #FF9AA2;
  }