@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    display: grid;
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    text-align: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* Minesweeper grid is 10 x 10. Each square will be 40px for its height and width. */
.grid {
    width: 100%;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #CFCFC4;
    border: 10px solid #CFCFC4;
}

.grid div {
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    display: grid;
}

.valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.checked {
    height: 40px;
    width: 40px;
    background-color: #cecab7;
    border: 2px solid;
    border-color: #cecab7;
    box-sizing: border-box;
    display: grid;
}

.checked .bomb {
    z-index: 2;
}

.bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
}

.one {
    color: #B5EAD7;
  }
  
.two {
    color: #FFFFD8;
}

.three {
    color: #FFDAC1;
}   

.four {
    color: #FF9AA2;
}

#result {
    margin-top: 5px;
    color: #FF9AA2;
}